sudo: false
language: node_js

notifications:
  email: false
node_js:
  - "9"
before_install:
  - npm i -g npm@5.9
before_script:
  - npm prune
script:
  - npm run test:single
after_success:
  - npm run semantic-release
